
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {
        var isPost = false;
        var isOwner = -1;

        $("#ownerPost").click(function () {
            isOwner = 1;
            PostBuilding();
        });
        $("#agentPost").click(function () {
            isOwner = 2;
            PostBuilding();
        });
        function PostBuilding() {
            if ($("#fairygroup").data("autype") == null) {
                $("#login").modal('show');
            }
            else {
                window.location.href = "@Url.Action("PostBuilding", "Home", new { area = string.Empty })" + "?owner=" + isOwner + '&PostBuildingID=0';
            }
        }
        $.cookie.defaults = { path: '/' };
        var auid = $.cookie('auid');
        if (auid != null)
        {
            $.ajax({
                type: "GET",
                url: "@Url.Action("getPostBuildingByUser", "Home", new { area = string.Empty })",
                data: {
                    BuildingTypeID: 0,
                    priceID: 0,
                    ProvinceID: 0,
                    DistrictID: 0,
                    keySearch: '',
                    UserID: auid
                },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $("#tbPost tbody tr").remove();
                    for (var i = 0; i < data.length; i++) {
                        $("#tbPost tbody").append('<tr>' +
                                                   '    <td>' + data[i].PostBuildingID + '</td>' +
                                                   '    <td>' + data[i].UpdateStr + '</td>' +
                                                   '    <td>' + data[i].PostTypeName + '</td>' +
                                                   '    <td>' + data[i].BuildingTypeName + '</td>' +
                                                   '    <td>' + data[i].PostTitle + '</td>' +
                                                   '    <td>' + data[i].PostStatus + '</td>' +
                                                   '    <td>' +
                                                   '         <button type="button" class=" btn btn-xs btn-info" onclick="Edit(' + data[i].PostBuildingID + ')"><i class="fa fa-pencil-square-o"></i></button>' +
                                                   '         <button type="button" class=" btn btn-xs btn-danger" onclick="Delete(' + data[i].PostBuildingID + ')"><i class="fa fa-trash"></i></button>' +
                                                   '    </td>' +
                                                   '</tr>');
                        /*
                                <th>ID</th>
                                <th>วันที่</th>
                                <th>ประกาศ</th>
                                <th>ประเภท</th>
                                <th>หัวข้อประกาศ</th>
                                <th>สถานะ</th>
                                <th></th>
                        */
                    }
                }
            });
        }

        $("#bt_Login").click(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("CheckLogin", "Home", new { area = string.Empty })",
                data: {
                    UserName: $("#tbUser").val(),
                    Password: $("#tbPass").val()
                },
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.cookie.defaults = { path: '/' };
                    $.cookie('auid', data.UserID, { expires: 1 });
                    $.cookie('auname', data.FirstNameTH + ' ' + data.LastNameTH, { expires: 1 });
                    $.cookie('autype', data.UserTypeID, { expires: 1 });


                    window.location.href = "@Url.Action("PostBuilding", "Home", new { area = string.Empty })" + "?owner=" + isOwner + '&PostBuildingID=0';

                }
            });

        });
    });
</script>
<section class="content-header">
    <h1>
        ลงประกาศ
    </h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home", new { area = string.Empty })"><i class="fa fa-dashboard"></i> หน้าแรก</a></li>

        <li class="active">ลงประกาศ</li>
    </ol>
</section>
<section class="content">
    <div class="modal fade"id="login">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>*@
                    <h4 class="modal-title">กรุณาเข้าสู่ระบบก่อนลงประกาศ</h4>
                </div>
                <div class="modal-body">
                    <!-- /.login-logo -->
                    <div class="login-box-body">
                        <p class="login-box-msg">Sign in</p>

                        <form>
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" id="tbUser" placeholder="User">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" id="tbPass" placeholder="Password">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox icheck">

                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="button" id="bt_Login" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        </form>
                        <a href="#">I forgot my password</a><br>
                        <a href="@Url.Action("Regist", "Home", new { area = string.Empty })" class="text-center">Register a new membership</a>

                    </div>
                </div>
                @*<div class="modal-footer">
                    <a class="btn btn-default" data-dismiss="modal">Close</a>
                    <a class="btn btn-primary">Save changes</a>
                </div>*@
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
           
            <div class="box box-primary color-palette-box" id="pnPostNoRegis">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-comment"></i> ลงประกาศ</h3>
                </div>
                <div class="box-body">
                    <div class="col-lg-6 col-xs-6">
                        
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h4>เป็นเจ้าของอสังหาฯเอง</h4>
                                <p>ลงประกาศขายหรือให้เช่าอสังหาฯของคุณได้ด้วยตัวเอง</p>
                            </div>
                            <a href="#" class="small-box-footer" id="ownerPost">
                                ลงประกาศ <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xs-6">
                        
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h4>ตัวแทนขายอสังหาฯ</h4>
                                <p>ลงประกาศขายหรือให้เช่าอสังหาฯ ผ่านตัวแทนขาย</p>
                            </div>
                            <a href="#" class="small-box-footer" id="agentPost">
                                ลงประกาศ <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                   
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        
                    </div>
                </div><!-- /.box-footer -->
            </div>
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">ประกาศ</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover" id="tbPost">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>วันที่</th>
                                <th>ประกาศ</th>
                                <th>ประเภท</th>
                                <th>หัวข้อประกาศ</th>
                                <th>สถานะ</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                           
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
      
    </div>

</section>
